
.custom-dropdown-item {
  background-color: green;
  color: white;
}
.custom-dropdown-item-i{
  background-color: green;
  color: white;
}
.custom-dropdown-item:hover {
  background-color:green !important;
  color:  white !important ;
}


